*{
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #161414;
    color: #f0f0f0;
    margin: 0;
    padding: 20px;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  h1 {
    font-size: 3em;
    color: #a1bd07;
    text-align: center;
    font-weight: bold;
  }

  h2{
    font-size: 1.5em;
    color: #a1bd07;
    text-decoration: underline;
    font-weight: bold;
  }
  
  .form-container {
    background-color: #363333;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    border: 1px solid #00ff00;    font-size: 1.1em;

  }
  
  form input,
  form select,
  form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #00ff00;    font-size: 1.1em;
    background-color: #444;
    color: #fff;
    outline: none;
}

input:focus, select:focus, textarea:focus {
  box-shadow: 0 0 10px #6ec96e;
}

  
  button {
    background-color: #a1bd07;
    border: none;
    color: #1a1a1a;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
    font-weight: bold;
  }
  
  button.hidden {
    display: none;
  }
  
  .resume-container {
    background-color: #473f3f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8);
    box-sizing: border-box; /* Ensure padding and border are included in element's total width and height */
  }
  
  .resume-box {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #333;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
  }
  
  .resume-box h2 {
    color: #a1bd07;
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .resume-box p {
    font-size: 1.2em;
    margin: 5px 0;
    line-height: 1.5;
    word-wrap: break-word; /* Ensure text wraps within the box */
  }
  